* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0a7;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --gradient-border: linear-gradient(
    90deg,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );
  --gradient-background: linear-gradient(#d586e0 0%, #91a1fa 98.93%);
  --gradient-content: linear-gradient(to right,#c7c9cc 0%, #3d3d3d 100%);
}
body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/imgs/background.png');
  background-size: cover;
  background-position: center;
  background-color: black;
  padding-left: 35px;

}
.hide{
  display: none;
}
.top-logo {
  margin-top: 44px;
  gap: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-family: "Roboto-flex", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--content-primary);
  line-height: 150%;
}
.title-logo {
  height: 38px;
}
.small-title{
  font-family: 'Roboto', sans-serif;
  background: var(--gradient-content);
  font-size: 16px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 8px;
  display: inline-block;
}
h1 {
  color: var(--content-primary);
  font-family: 'Sora', sans-serif;
  font-size: 40px;
}
.title{
  margin-top: 46px;
}
@media screen and (min-width: 768px){
  body{
    padding-left: 134px;
  }
  .top-logo{
    margin: 76px 0 0 120px;
    justify-content: start;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 310px 200px;
  }
  .title{
    width: 522px;  
    margin: 89px 0 0;
  }

  h1{
    font-size: 74px;
  }
}